@use "sass:color";
@use "variables";

.header {
	&__container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	&__branding {
		text-align: center;
	}

	&__brand {
		margin-bottom: 0.2rem;
	}

	&__brandlink {
		font-size: 1.6rem;
		font-weight: 700;
		text-decoration: none;
		color: variables.$text-color;
	}

	&__description {
		color: color.scale(variables.$text-color, $lightness: -20%);
		font-weight: 300;
		margin: 0px;
	}

	&__navlist {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		row-gap: 0.8rem;
		column-gap: 0.8rem;
		padding: 0px;
	}

	&__navlink {
		color: variables.$text-color;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 500;
		color: color.scale(variables.$background-color-dark,$lightness: 10%);

		&:hover {
			text-decoration: underline;
		}
	}

	&__introduction {
		background-color: color.scale(
			variables.$background-color-dark,
			$lightness: 40%,
			$alpha: -80%
		);
		border-radius: 1.2rem;
		color: color.scale(
			variables.$text-color,
			$lightness: 20%,
			$saturation: -80%
		);
		padding: 0.4rem 1rem;
		width: 60%;
		margin-top: 3rem;
	}
}

@media screen and (prefers-color-scheme: dark) {
	.header {
		&__brandlink {
			color: variables.$text-color-dark;
		}

		&__navlink {
			color: color.scale(
				variables.$background-color-dark,
				$lightness: 80%
			);
		}

		&__description {
			color: color.scale(
				variables.$text-color-dark,
				$lightness: -20%
			);
		}

		&__introduction {
			background-color: color.scale(
				variables.$background-color-dark,
				$lightness: 90%,
				$alpha: -80%
			);
			color: color.scale(variables.$text-color-dark, $lightness: -20%);
		}
	}
}
