{{ partial "head" . }}
{{ partial "header" . }}

<main class="container archives">
  <nav class="list__articleList">
	{{ $archives := $.Site.GetPage "section" "articles" }}
	{{ range $archives.Pages.GroupByDate "2006"}}
		{{ range .Pages }}
			<section class="list__articleList__article">
			<a href="{{ .RelPermalink }}"
					class="list__articleList__article__link">
				<h2 class="list__articleList__article__title">{{ .Title }}</h2>
				<p class="list__articleList__article__publishDate">
				{{ .Date.Format "Jan 2, 2006" }}
				</p>
			</a>
			</section>
		{{ end }}
	{{ end }}
  </nav>
</main>

{{ partial "footer" . }}
