@use "sass:color";
@use "variables";

.lefty {
	&__main {
		padding-top: 3rem;
	}

    &__main #headline-1 {
        display: none;
    }

	&__articles {
		display: flex;
		flex-flow: column;
		row-gap: 2rem;
	}

	&__article {
		.article {
			&__title, &__link {
				text-decoration: none;
			}

			&__title, &__date, &__summary {
				color: variables.$text-color;
			}

			&__title {
				margin-bottom: 0px;
			}

			&__summary {
				text-align: justify;
				margin-top: 1rem;

				& p {
					display: inline;
				}
			}

            &__more {
                display: block;
                margin-top: 12px;
            }

			&__date {
				margin: 0px;
			}

			&__link:not(&__title) {
				color: variables.$background-color-dark;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}

@media screen and (prefers-color-scheme: dark) {
	.lefty {
		&__article {
			.article {
				&__title, &__date, &__summary {
					color: color.scale(
						variables.$background-color-dark,
						$lightness: 80%
					);
				}

				&__link {
					color: variables.$text-color-dark;
				}

				&__link:not(&__title) {
					color: variables.$text-color-dark;
				}
			}
		}
	}
}
