@import "variables";

.lefty__page {
	padding-top: 4rem;

	.page {
		&__title, &__content {
			color: $text-color;
		}

		&__title, &__date {
			text-align: center;
		}

		&__date {
			color: darken($background-color, 70);
		}

		&__title {
			margin-bottom: 0px;
		}

		&__date {
			margin-top: 0px;
		}

		&__content {
			margin-top: 3rem;
		}
	}
}

@media screen and (prefers-color-scheme: dark) {
	.lefty__page {
		.page {
			&__title, &__date, &__content {
				color: $text-color-dark;
			}

			&__date {
				color: darken($text-color-dark, 30);
			}
		}
	}
}
