{{ partial "head" . }}
{{ partial "header" . }}

<main class="list">
  
    <nav class="container list__articleList">
        {{ range .Pages }}
        <section class="list__articleList__article">
            <a href="{{ .RelPermalink }}"
               class="list__articleList__article__link">
                <h2 class="list__articleList__article__title">
                    {{ .Title }}
                </h2>

                {{ if eq .Section "apps" }}
                <p class="list__articleList__article__description">
                    {{ .Description }}
                </p>
                {{ else }}
                <p class="list__articleList__article__publishDate">
	                {{ .Date.Format "Jan 2, 2006" }}
                </p>
                {{ end }}
            </a>
        </section>
        {{ end }}
    </nav>
    
</main>			

{{ partial "footer" . }}
