.material
{
    @include mtrl-shadow;
}

.mtrl-card
{
    @include mtrl-shadow;
    background-color: #fff;
    padding: 10px; 
    border-radius: 2px;
}

.mtrl-hover
{
    &:hover
    {
	@include mtrl-shadow(0, 0.24);
    }
}
