// COLORS
$primary-color: #12254a;
$about-text: #eee;

// FONTS
$thin: 100;
$light: 300;
$regular: 400;

// DEMO SECTION -- INDEX
$device-color: #222;
$dcontent-color: #65a2c4;

$dheader-color: #327393; 
$dbody-color: #ccc;
$dtext-color: #eee;
