#demo
{
    padding: 20px 0;

    p
    {
	text-align: center;
	font-size: 2.5rem;

	em
	{
	    font-style: normal;
	}
    }

    .devices
    {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-end;

	@media screen and (max-width: 768px)
	{

	    .desktop-container
	    {
		margin-bottom: 10px;
	    }
	}

	.keyboard
	{
	    width: 340px;
	    height: 20px;
	    background-color: #333;
	    margin: -2px 0 0 -21px;
	    border-radius: 4px 4px 60px 60px;
	    z-index: 2;
	}
    }

    .device
    {
	border-radius: 8px;
	border: 10px 10px 10px 10px solid $device-color;
	background-color: $device-color;
	overflow: hidden;
    }

    .screen
    {
	border-radius: 4px;
    }

    .header, .body
    {
	width: 100%;
	position: relative;
    }

    .header
    {
	background-color: $dheader-color;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    }

    .body
    {
	background-color: $dbody-color;
    }

    .brand, .link-item
    {
	background-color: $dcontent-color;
	border-radius: 2px;
    }

    .text, .image
    {
	background-color: #8aaec2;
	border-radius: 2px;
    }
    
    .links
    {
	margin: none;
	padding: none;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;

	.link-item
	{
	    list-style-type: none;
	}
    }

    .text-container
    {
	display: flex;
	flex-direction: column;
    }
}

#desktop
{
    width: 300px;
    height: 200px;
    position: relative;
    z-index: -1;
    
    .screen
    {
	width: 280px;
	height: 180px;
	position: absolute;
	margin: 10px 0 0 10px;
	overflow: hidden;
	
	.header
	{
	    width: 100%;
	    height: 30px;
	    line-height: 50px;
	    margin-top: -20px;
	    padding: 20px;
	    position: relative;
	    
	    .brand
	    {
		width: 30px;
		height: 15px;
		border-radius: 2px;
		margin: 25px 0 0 0;
		position: relative;
	    }
	    
	    .links
	    {
		margin-top: 30px;
		margin-left: 60px;
		position: relative;
	    }
	    
	    .link-item
	    {
		width: 20px;
		height: 10px;
		margin: 0 10px;
	    }
	}
	
	.body
	{
	    height: 180px;
	    padding: 20px;
	    
	    .content
	    {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		position: relative;
		margin: 5px 0;
		
		.image
		{
		    width: 40px;
		    height: 40px;
		    position: relative;
		}
		
		.text
		{
		    width: 190px;
		    height: 5px;
		    margin: 3px 0 0 5px;
		    position: relative;
		}
	    }
	}
    }
}

#tablet
{
    width: 120px;
    height: 180px;
    border: 10px solid $device-color;
    position: relative;

    .screen
    {
	width: 110px;
	height: 160px;
	margin: 5px 10px 10px 5px; 
	position: relative;
	overflow: hidden;

	.header
	{
	    position: relative;
	    width: 100%;
	    height: 20px;
	    display: flex;
	    flex-direction: row;
	    padding: 10px;

	    .brand
	    {
		width: 30px;
		height: 10px;
		position: relative;
		margin: 10px auto 0 0;
	    }

	    .links
	    {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 5px 20px 0 0;

		.link-item
		{
		    width: 10px;
		    height: 2px;
		    margin-top: 2px;
		}
	    }
	}

	.body
	{
	    padding: 10px;
	    height: 120px;

	    .content
	    {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 200px;
		margin: 10px 7px;

		.image
		{
		    width: 80px;
		    height: 40px;
		}

		.text-container
		{
		    margin: 5px 0 10px 0;
		}
		
		.text
		{
		    width: 80px;
		    height: 5px;
		    margin-bottom: 5px;
		}
	    }
	}
    }
}

#mobile
{
    width: 70px;
    height: 130px;
    padding: 10px;

    .screen
    {
	width: 70x;
	height: 120px;
	overflow: hidden;

	.header
	{
	    height: 20px;
	    padding: 5px;

	    .brand
	    {
		width: 15px;
		height: 7px;
		margin: 10px 0;
	    }

	    .links
	    {
		margin: 7px 0 0 0;
		display: flex;
		flex-direction: column;

		.link-item
		{
		    width: 5px;
		    height: 2px;
		    box-radius: 0px;
		    margin-top: 1px;
		}
	    }
	}

	.body
	{
	    height: 120px;
	    padding: 10px;

	    .content
	    {
		margin: 10px 0 0 7px;

		.image
		{
		    width: 40px;
		    height: 20px;
		}

		.text-container
		{
		    margin: 5px 0 10px 0;
		}

		.text
		{
		    width: 40px;
		    height: 4px;
		    margin-bottom: 2px;
		}
	    }
	}
    }
}
