<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="stylesheet"
			  type="text/css"
			  href="{{ get_url(path="fonts/inter/web/inter.css") }}">
		<link rel="stylesheet"
			  type="text/css"
			  href="{{ get_url(path="index.css") }}">
		<title>
			{% block title %}
				Leftybournes Blog
			{% endblock %}
		</title>
	</head>
	<body>
		<header class="header">
			<div class="lefty__container header__container">
				<div class="header__branding">
					<h1 class="header__brand">
						<a href="/" class="header__brandlink">
							Leftybournes Blog
						</a>
					</h1>
					<p class="header__description">
						<em>
							Tech, gnu/linux, free/libre software and programming
						</em>
					</p>
				</div>
				<!-- <nav class="header__nav">
					<ul class="header__navlist">
						<li class="header__navelement">
							<a href="/"
							   class="header__navlink">
								Home
							</a>
						</li>
						<li class="header__navelement">
							<a href="/about"
							   class="header__navlink">
								About
							</a>
						</li>
					</ul>
				</nav> -->
				<div class="header__introduction">
					<p>Hello there!</p>
					<p>
						I'm Leftybournes, a software developer from the
						Philippines with a passion for technology. I write
						about building free software on the web, mobile, and
						the desktop.
					</p>
				</div>
			</div>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
