.archives__articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px 0;
  
  &__article {
    text-align: left;
    text-decoration: none;
    
    &__title {
      font-style: normal;
      margin: 0;
      
      &:hover {
	    text-decoration: underline;
      }
    }
    
    &__publishDate, &__summary {
      font-size: 0.9rem;
      margin: 0;
      opacity: 0.8;
    }
  }
}
